.laptopdiv1 {
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.laptopdiv1_subdiv1 {
    width: 50%;
}

.laptopdiv1_subdiv1 {
    font-size: 12px;
}

.laptopdiv1_subdiv2 {
    width: 40%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.laptopdiv1_subdiv2 p {
    font-size: 11.9px;
}

.inspironlaptop {
    font-size: 36.4px;
    text-align: center;
}

.laptopdiv2 {
    width: 90%;
    height: 2000px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.laptopdiv2_subdiv1 {
    width: 25%;
    height: 2000px;
    position: sticky;

}

.laptopdiv2_subdiv2 {
    width: 73%;
    height: 2000px;
}

.laptopdiv2_subdiv1 p {
    font-size: 18px;
    font-size: 14px;
}

.refineby {
    color: #00447C;
    font-weight: bold;
    font-size: 16px;
}

.mapdatadiv {
    height: 350px;
    border: 0.2px solid gray;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}

.mapdatadiv1 {
    width: 32%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mapdatadiv2 {
    width: 38%;
    height: 400px;
}

.mapdatadiv3 {
    width: 24%;
    height: 400px;
}

.mapdatadiv2_name {
    color: #0076CB;
    font-size: 20px;
}
.mapdatadiv2_ordercode{
    color: #767676;
    font-size: 14px;
}
.mapdatadiv2_specs{
    font-size: 18px;
    font-weight: bold;
}
.mapdatadiv2_specs span{
    color: #0672CB;
}
.mapdatadiv2_processer,.mapdatadiv2_os,.mapdatadiv2_graphics,.mapdatadiv2_memory,.mapdatadiv2_storage,.mapdatadiv2_display{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}
.mapdatadiv3{
    font-size: 16px;
   
}
.mapdatadiv3 p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
   
}
.mapdatadiv3 p{
    margin-top: 15px;
}
.mapdatadiv3 span{
    font-weight: bold;
}