.navbar3div {
    height: 120px;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}

.navbar3subdiv {
    width: 160px;
    height: 120px;
    font-size: larger;
    align-items: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.navbar3subdiv img {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: auto;
}

 